* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-image: url(../assets/img/NASA.jpg);
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

header {
  width: 100%;
  margin: 0 auto;
  padding: 0.5rem; }
  header nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    padding: 1rem 1.5rem;
    border-radius: 0.4rem; }
    header nav #toggle,
    header nav label {
      display: none; }
    header nav .menu ul {
      list-style: none;
      display: flex;
      gap: 2rem; }
      header nav .menu ul a {
        text-decoration: none;
        color: white; }
        header nav .menu ul a:hover {
          color: lightblue; }

footer {
  color: white;
  margin-top: auto;
  text-align: center;
  font-size: 21px; }

.section-principal {
  height: 600px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }
  .section-principal h1 {
    color: white;
    font-size: 90px; }
  .section-principal h2 {
    color: white; }
  .section-principal img {
    display: none; }

main {
  display: flex;
  flex-direction: column; }
  main .section, main .section-dos {
    background-color: gray;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 80%;
    margin: 15px auto;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    margin-top: 4rem; }
    main .section img, main .section-dos img {
      width: 200px;
      border-radius: 30px;
      border: dashed 3px white; }
    main .section h1, main .section-dos h1 {
      padding: 0.5rem;
      margin: auto;
      color: antiquewhite;
      text-align: center;
      font-size: 40px; }
    main .section p, main .section-dos p {
      padding: 0.5rem;
      color: white;
      margin-right: 15px; }
  main .section-dos h2 {
    text-align: center;
    color: antiquewhite;
    font-size: 40px; }

.container-fluid {
  margin: auto;
  padding: 20px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  width: 40%; }
  .container-fluid .button-repository {
    margin: 3rem;
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 40px;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color: white;
    background-color: blueviolet; }
  .container-fluid img {
    display: none; }

main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto; }
  main .iframe-responsive {
    display: none; }

.container-contact {
  margin: auto;
  padding: 20px;
  display: flex;
  flex-flow: column;
  align-items: center; }
  .container-contact h1 {
    color: white;
    font-size: 150px; }
  .container-contact p {
    color: white;
    font-size: 20px; }
  .container-contact img {
    display: none; }
  .container-contact .button-contact {
    display: flex;
    flex-direction: row;
    padding: 1.5rem;
    gap: 1rem; }
    .container-contact .button-contact .button-email {
      margin: 1rem;
      font-size: 1.2rem;
      font-weight: bold;
      padding: 10px 40px;
      border-radius: 10px;
      border: 2px solid rgba(0, 0, 0, 0.5);
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
      color: white;
      background-color: blueviolet; }
    .container-contact .button-contact .button-wp {
      margin: 1rem;
      font-size: 1.2rem;
      font-weight: bold;
      padding: 10px 40px;
      border-radius: 10px;
      border: 2px solid rgba(0, 0, 0, 0.5);
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
      color: white;
      background-color: blueviolet; }

@media (max-width: 1024px) {
  .section-principal {
    height: 400px; }
    .section-principal h1 {
      font-size: 75 px; }
  .section, main .section-dos {
    background-color: gray;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 80%;
    margin: 15px auto;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    margin-top: 0.5rem; }
  .container-fluid {
    width: 70%; } }

@media (max-width: 911px) {
  header nav .menu {
    width: 100%;
    height: 0;
    overflow: hidden;
    padding: 0.5; }
    header nav .menu ul {
      flex-direction: column;
      align-items: start;
      padding: 0.5rem; }
  header nav label {
    display: inline-flex;
    color: white;
    cursor: pointer; }
  header nav #toggle:checked ~ .menu {
    height: 70vh; } }

@media (max-width: 768px) {
  .section-principal {
    height: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; }
    .section-principal h1 {
      color: white;
      font-size: 40px;
      padding: 50px; }
    .section-principal h2 {
      display: none; }
    .section-principal img {
      display: block;
      border: 5px solid #ccc;
      border-radius: 10px;
      box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
      outline: 1px solid #fff; }
  .section img, main .section-dos img {
    display: none; }
  .container-fluid {
    width: 80%;
    margin-top: 20%; }
  .container-contact {
    margin-top: 32%; }
    .container-contact h1 {
      font-size: 110px;
      text-align: center; } }

@media (max-width: 458px) {
  .section-principal {
    height: 100px;
    margin-top: 8%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; }
    .section-principal h1 {
      text-align: center;
      color: white;
      font-size: 40px;
      padding: 50px; }
    .section-principal h2 {
      display: none; }
    .section-principal img {
      display: block;
      max-width: 70%;
      border: 5px solid #ccc;
      border-radius: 10px;
      box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
      outline: 1px solid #fff; }
  .section img, main .section-dos img {
    display: none; }
  .container-fluid .carrusel {
    display: none; }
  .container-fluid .button-repository {
    margin-top: 80%; }
  .container-fluid img {
    display: block;
    margin-top: -120%;
    margin-left: 10%;
    max-width: 95%; }
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto; }
    main .iframe {
      display: none; }
    main .iframe-responsive {
      display: block; }
  .container-contact {
    margin: auto;
    padding: 20px;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 2%; }
    .container-contact h1 {
      display: none; }
    .container-contact p {
      display: none; }
    .container-contact img {
      display: block; }
    .container-contact .button-contact {
      display: flex;
      flex-direction: column;
      padding: 1.5rem;
      gap: 1rem; }
      .container-contact .button-contact .button-email {
        margin: 1rem;
        font-size: 1.2rem;
        font-weight: bold;
        padding: 10px 40px;
        border-radius: 10px;
        border: 2px solid rgba(0, 0, 0, 0.5);
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
        color: white;
        background-color: blueviolet; }
      .container-contact .button-contact .button-wp {
        margin: 1rem;
        font-size: 1.2rem;
        font-weight: bold;
        padding: 10px 40px;
        border-radius: 10px;
        border: 2px solid rgba(0, 0, 0, 0.5);
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
        color: white;
        background-color: blueviolet; } }

@media (max-width: 425px) {
  .section-principal {
    height: 100px;
    margin-top: 8%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; }
    .section-principal h1 {
      text-align: center;
      color: white;
      font-size: 40px;
      padding: 50px; }
    .section-principal h2 {
      display: none; }
    .section-principal img {
      display: block;
      max-width: 70%;
      border: 5px solid #ccc;
      border-radius: 10px;
      box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
      outline: 1px solid #fff; }
  .section img, main .section-dos img {
    display: none; }
  .container-fluid .carrusel {
    display: none; }
  .container-fluid .button-repository {
    margin-top: 80%; }
  .container-fluid img {
    display: block;
    margin-top: -120%;
    margin-left: 10%;
    max-width: 95%; }
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto; }
    main .iframe {
      display: none; }
    main .iframe-responsive {
      display: block; }
  .container-contact {
    margin: auto;
    padding: 20px;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 2%; }
    .container-contact h1 {
      display: none; }
    .container-contact p {
      display: none; }
    .container-contact img {
      display: block; }
    .container-contact .button-contact {
      display: flex;
      flex-direction: column;
      padding: 1.5rem;
      gap: 1rem; }
      .container-contact .button-contact .button-email {
        margin: 1rem;
        font-size: 1.2rem;
        font-weight: bold;
        padding: 10px 40px;
        border-radius: 10px;
        border: 2px solid rgba(0, 0, 0, 0.5);
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
        color: white;
        background-color: blueviolet; }
      .container-contact .button-contact .button-wp {
        margin: 1rem;
        font-size: 1.2rem;
        font-weight: bold;
        padding: 10px 40px;
        border-radius: 10px;
        border: 2px solid rgba(0, 0, 0, 0.5);
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
        color: white;
        background-color: blueviolet; } }

@media (max-width: 375px) {
  .section h1, main .section-dos h1,
  .section h2,
  main .section-dos h2 {
    display: none; }
  footer {
    font-size: 18px; } }

@media (max-width: 320px) {
  .container-fluid .button-repository {
    font-size: 1em; }
  .container-fluid img {
    max-width: 70%;
    margin-left: 15%; }
  .container-contact {
    margin: auto;
    padding: 20px;
    display: flex;
    flex-flow: column;
    align-items: center; }
    .container-contact h1 {
      display: none; }
    .container-contact p {
      display: none; }
    .container-contact img {
      display: block;
      max-width: 80%;
      margin-left: 12%; }
    .container-contact .button-contact {
      display: flex;
      flex-direction: column;
      padding: 1.5rem;
      gap: 1rem; }
      .container-contact .button-contact .button-email {
        margin: 1rem;
        font-size: 1.2rem;
        font-weight: bold;
        padding: 10px 40px;
        border-radius: 10px;
        border: 2px solid rgba(0, 0, 0, 0.5);
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
        color: white;
        background-color: blueviolet; }
      .container-contact .button-contact .button-wp {
        margin: 1rem;
        font-size: 1.2rem;
        font-weight: bold;
        padding: 10px 40px;
        border-radius: 10px;
        border: 2px solid rgba(0, 0, 0, 0.5);
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
        color: white;
        background-color: blueviolet; }
  footer {
    font-size: 16px; } }
