.section-principal{
    height: 600px;
    @include flex(center, center, column);

    h1{
        color: $color-letter;
        font-size: 90px;
        animation-name: spin-in;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
        animation-delay: 0s;
        animation-fill-mode: both;
    }

    h2{
        color: $color-letter;
    }
    
    img{
        display: none;
    }
}