.section-principal{
    height: 600px;
    @include flex(center, center, column);

    h1{
        color: $color-letter;
        font-size: 90px;
    }

    h2{
        color: $color-letter;
    }
    
    img{
        display: none;
    }
}